<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico@1.5.10.min.css" />
    <title>S3 Manager</title>
    <script src="/static/htmx@1.9.8.min.js"></script>
  </head>
  <body>
    {{embed}}
  </body>
</html>
